.shopping-cart {
  --padding-size: var(--md-space);
  background-color: var(--surface-c-7);
  position: absolute;
  top: var(--nav-block-size);
  right: 0;
  display: grid;
  box-shadow: var(--shadow-6);
  border-radius: var(--radius-2);

  & header {
    inline-size: 100%;
    text-align: left;

    padding-block: calc(var(--sm-space) + var(--size-1));

    border-bottom: var(--border-size-1) solid var(--surface-c-5);
  }

  & h3 {
    padding-inline: var(--padding-size);
    font-size: var(--font-size-2);
  }

  .products-cart {
    padding-block: var(--padding-size);
    padding-inline: var(--padding-size);

    display: grid;

    @media (--desktop) {
      min-inline-size: 32ch;
      min-block-size: 16ch;
    }
    /* place-content: center; */
  }

  .cart-item {
    display: flex;
    gap: var(--sm-space);
    padding-block: var(--md-space);
    align-items: center;
  }

  .product-total {
    padding: 0;
  }

  .product-total span {
    color: var(--surface-c-3);
    font-weight: var(--font-bold);
    font-size: var(--font-size-3);
  }

  & img {
    inline-size: 48px;
    border-radius: var(--radius-2);
    aspect-ratio: var(--ratio-square);
  }

  #delete-item-btn {
    margin-inline-start: auto;
    cursor: pointer;

    align-self: center;
    padding-left: var(--sm-space);

    & svg {
      min-inline-size: max-content;
    }

    &:hover svg {
      fill: var(--surface-c-1);
    }
  }
  #checkout {
    inline-size: 100%;
    background-color: var(--surface-c-1);
    box-shadow: var(--shadow-2);

    &:hover {
      background: hsla(27, 100%, 71%, 1);
    }
  }

  @media (--mobile) {
    --padding-size: var(--sm-space);
    top: var(--nav-block-size);
    left: 0;
    margin-inline: var(--sm-space);
    z-index: var(--layer-important);

    .cart-text {
      line-height: var(--font-lineheight-0);
      padding-left: var(--size-2);
    }

    .cart-item {
      display: flex;
      align-items: flex-start;
      gap: unset;
    }
  }

  display: none;
  &.open-cart {
    display: block;
  }
}

#cart-btn {
  position: relative;
  #cart-btn-count {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--surface-c-1);
    color: var(--surface-c-7);
    padding-inline: 8px;
    font-size: 15px;
    line-height: var(--font-lineheight-1);
    border-radius: var(--radius-3);
    box-shadow: var(--shadow-2);
    /* font-weight: var(--font-bold); */
  }
}

.empty-cart {
  align-self: center;
  justify-self: center;
}
