@custom-media --mobile (max-width: 600px);

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
  --surface-1: hsl(1, 90%, 64%);
  --surface-2: hsl(219, 85%, 26%);
  --surface-3: hsl(0, 0%, 100%);
  --surface-4: hsl(210, 60%, 98%);
  --surface-5: hsl(211, 68%, 94%);
  --surface-6: hsl(205, 33%, 90%);
  --surface-7: hsl(219, 14%, 63%);
  --surface-8: hsl(219, 12%, 42%);
  --surface-9: hsl(224, 21%, 14%);

  --sm-1: calc(var(--size-2) + var(--size-1));
  --sm-2: 0.625rem;
  --small-font-size: 0.875rem;
}

[data-theme='dark'] {
  --surface-2: hsl(214, 100%, 59%);
  --surface-3: hsl(210, 3%, 15%);
  --surface-4: hsl(210, 4%, 10%);
  --surface-5: hsla(214, 100%, 59%, 0.2);
  --surface-6: hsl(219, 14%, 63%);
  --surface-8: hsl(219, 14%, 63%);
  --surface-9: hsl(223, 15%, 91%);
}

/*  ========= Reset =========  */

*,
:before,
:after {
  box-sizing: border-box;
}

:where(html) {
  block-size: 100%;
  scroll-behavior: smooth;
}

:where(:not(dialog)) {
  margin: 0;
}

:where(img, svg) {
  max-inline-size: 100%;
  block-size: auto;
}

:where(ul) {
  padding: 0;
  list-style: none;
}

:where(a) {
  text-decoration: none;
}

body {
  min-block-size: 100%;
  font-size: var(--font-size-1);
  background-color: var(--surface-4);
  color: var(--surface-8);
  display: grid;
  place-content: center;

  @media (--mobile) {
    font-size: var(--small-font-size);
  }
}

button {
  background: none;
  font: inherit;
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  cursor: pointer;
  touch-action: manipulation;
  -webkit-tap-highlight-color: transparent;
  border-width: 0;
  border-style: solid;
  appearance: auto;
  writing-mode: horizontal-tb !important;
}

.app {
  background-color: var(--surface-3);
  box-shadow: var(--shadow-3);
  padding: var(--size-4);
  border-radius: var(--radius-2);
  display: grid;
  gap: var(--size-4);
}
/* Handle Dark Theme Toggle */

[data-theme='light'] {
  --nav-icon: var(--gray-7);
  --nav-icon-hover: var(--gray-9);
}

[data-theme='dark'] {
  --nav-icon: var(--gray-5);
  --nav-icon-hover: var(--gray-2);
}

#moon,
#sun {
  fill: var(--nav-icon);
  stroke: none;
}

:hover > svg > #moon,
:hover > svg > #sun {
  fill: var(--nav-icon-hover);
}

#sun {
  transition: transform 0.5s var(--ease-4);
  transform-origin: center center;
}

#sun-beams {
  --_opacity-dur: 0.15s;
  stroke: var(--nav-icon);
  stroke-width: 2px;
  transform-origin: center center;
  transition: transform 0.5s var(--ease-elastic-4),
    opacity var(--_opacity-dur) var(--ease-3);
}

:hover > svg > #sun-beams {
  stroke: var(--nav-icon-hover);
}

#moon > circle {
  transition: transform 0.5s var(--ease-out-3);
}

[data-theme='light'] #sun {
  transform: scale(0.5);
}

[data-theme='light'] #sun-beams {
  transform: rotate(0.25turn);
  --_opacity-dur: 0.5s;
}

[data-theme='dark'] #moon > circle {
  transform: translate(-20px);
}

[data-theme='dark'] #sun-beams {
  opacity: 0;
}
